.cuadrado {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: rgb(194, 53, 53);
    bottom: 20px;
    left: 100px;
}

.triangulo {
    width: 0px;
    height: 0px;
    border-left: 68px solid transparent;
    border-right: 68px solid transparent;
    border-bottom: 98px solid #3f78d4;
    position: absolute;
    bottom: 20px;
    left: 225px;
}

.circulo {
    height: 110px;
    width: 110px;
    position: absolute;
    background-color: rgb(235, 232, 60);
    border-radius: 50%;
    bottom: 20px;
    left: 400px;
}